<h5>Menu</h5>
<div class="form-group">
                <input type="checkbox" name="[[[MenuName]]]" value="[[[MenuValue]]]"/>
                [[[MenuValue]]]
</div>
<div class="liner" style="margin-bottom:10px"></div>
<h5>Products</h5>
<div class="form-group">
    <div class='input-group'>
        <section>

        </section>
       
    </div>
</div>