 <div class="form-group">
                <label for="[[[MenuName]]]" class="control-label">Name</label>
                <input for="[[[MenuName]]]" class="form-control" value="[[[MenuNameValue]]]" name="[[[MenuNameInput]]]"/>
                <span for="[[[MenuName]]]"  class="text-danger"></span>
</div>
<div class="form-group">
                <label for="[[[MenuDescription]]]" class="control-label">Description</label>
                <input for="[[[MenuDescription]]]" class="form-control" value="[[[MenuDescriptionValue]]]" name="[[[MenuDescriptionInput]]]"/>
                <span for="[[[MenuDescription]]]" class="text-danger"></span>
</div>
             <input type="file" class="form-control-file" id="exampleFormControlFile1">
             <p><strong>Products</strong></p>
